h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Переключення теми сайту між світлою і темною початок */
/* Загальні змінні тем */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --container-bg: #f4f4f4;
  --container-text: #dddddd;
  --select-bg: #f6f6f6;
}

html[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --container-bg: #1e1e1e;
  --container-text: #dddddd;
  --select-bg: #333333;
}

/* Переключення теми сайту між світлою і темною кінець */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: #fff;
  letter-spacing: 0.02em;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a,
button,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow, visibility,
    opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 370px;
  padding: 0px 10px;
}

section {
  padding: 25px 0px;
}

/* header */

.header-container {
  background-color: #121212;
  justify-content: space-between;
  width: 100%;
}

.logo {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: bold;
  color: #ffdddd;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.header-icons .icon-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
}

/* .icon-btn {
  margin-right: 60px;
} */

/* search-bar-nav */

.container-search-bar-nav {
  flex-direction: column;
  gap: 8px;
}

.theme-toggle {
  background-color: transparent;
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #222;
  color: #fff;
}

.search-bar .search-btn {
  background-color: #333;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4px;
}

.main-nav-button {
  /* width: 100%; */
  padding: 10px;
  background: #1f1f1f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tab {
  padding: 10px;
  background: #1a1a1a;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 49%;
  border-radius: 4px;
}

/* movies */

.container-movies {
  justify-content: space-between;
  gap: 4px;
}

.movie-card {
  max-width: 150px;
  background-color: #1a1a1a;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 6px #000;
  color: #dddddd;
}

.movies-img {
  width: 100%;
  border-radius: 4px;
}

/* filters */

.container-filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.filters-select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #1f1f1f;
  color: #fff;
}

.filter-buttons {
  grid-column: span 2;
  display: flex;
  gap: 10px;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #444 !important;
  border: none !important;
  width: 90% !important;
  cursor: pointer;
}

.filter-menu-li {
  cursor: pointer;
  padding: 5px 0px;
  color: #f6ecec;
}

.apply-btn,
.reset-btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  background-color: #a14f4f;
  color: #fff;
}
/* ксс для підменю початок */
.filter-menu {
  list-style: none;
  margin: 5px 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 10;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.filter-item {
  position: relative;
  background-color: #2a2929;
  padding: 10px;
  border-radius: 6px;
  color: #dddddd;
  /* margin-bottom: 20px; */
}
.filter-menu li.active {
  background-color: #2196f3;
  color: rgb(31, 29, 29);
}

.nav-section-li {
  color: #121212;
}

/* ксс для підменю кінець */

.filter-toggle {
  background-color: transparent;
}
/* movie-list */
/* Основне оформлення */
.container-movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movies-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* .page-numbers {
  display: flex;

  align-items: center;
} */

.pagination {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 20px;
  gap: 20px;
}

.movies-list-movie-card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  /* min-width: 370px; */
}

.movie-poster-img {
  border-radius: 6px;
  width: 100%;
  /* text-align: center;
  align-items: center; */
  width: 100%;
  height: auto;
}

.foto-rating {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.movie-poster {
  width: 50%;
}

.rating-box-kino {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 50%;
}

.logo-imdb-kino,
.logo-tmdb-kino {
  width: 28px;
  height: auto;
}

.movie-info-block {
  text-align: left;
  margin-left: 14px;
}

.load-more {
  background-color: #b2ff59;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.page-numbers .page {
  background-color: #444;
  color: #fff;
  padding: 6px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-numbers .page.active {
  background-color: #b2ff59;
  color: #000;
}

.rating-stars-kino {
  font-size: 16px;
  text-align: center;
  color: #b2ff59; /* світло-зелений */
}

/* block-new */

.container-block-new {
  background-color: #7c7676;
  border-radius: 8px;

  color: var(--tt);
  letter-spacing: 0.02em;
  font: 14px "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.container-block-new-block {
  display: flex;
  gap: 40px;
  /* padding-bottom: 20px; */
}

.container-block-new-h2 {
  padding: 16px 0px 0px 0px;
}

.block-new-content {
  text-align: left;
}

.container-block-new-h3 {
  margin-bottom: 10px;
}

.container-block-new-img {
  border-radius: 4px;
}

.container-block-new:last-child {
  padding-bottom: 20px;
}

/* opis-kino-ua */

.container-opis-kino-ua {
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.opis-kino-ua-h3 {
  font-size: 24px;
}

.opis-kino-ua-p {
  font-size: 14px;
}

/* footer */

.container-footer {
  flex-direction: column;
  gap: 30px;
}

.container-footer-btn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  background-color: #a14f4f;
  color: #fff;
  width: 320px;
}

.container-footer-note {
  font-weight: bold;
}

/* ПАНЕЛЬ НАВІГАЦІЇ ДЛЯ МОБІЛЬНОГО */
/* Базові стилі */
.navigation-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 360px;
  height: 100%;
  background-color: #ffffff;
  color: #333;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateX(100%);
}

/* Кнопки */

.nav-close-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #e74c3c;
  cursor: pointer;
  margin-left: auto;
}

/* Заголовок */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

/* Розділи */
.nav-section {
  margin-bottom: 20px;
}

.nav-section h3 {
  color: #a33;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Списки */
.nav-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-section li {
  margin-bottom: 8px;
}

.nav-section a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.nav-section a span {
  color: #999;
  font-size: 14px;
}

/* Дві колонки */
.nav-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 20px;
}
/* ПАНЕЛЬ НАВІГАЦІЇ ДЛЯ МОБІЛЬНОГО  - КІНЕЦЬ*/

/* film-maikl-kleyton - початок */
.container-maikl-kleyton {
  display: flex;
  gap: 5px;
  padding-top: 20px;
}
/* film-maikl-kleyton - кінець */
