/* Базовий стиль — завжди width: 100% */
.container {
  width: 100% !important;
  min-width: 320px;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #1d1d18;
  background-color: #161b22;
  border-radius: 4px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop (>=1280px) */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}
