.footer {
  padding: 20px 0px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-footer-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  /* background-color: #a14f4f; */
  color: #fff;
  min-width: 320px;
}

.container-footer-note {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding: 0 32px;
  } */

  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
