.header-container {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.icon-btn {
  padding: 10px;
  background-color: rgb(210, 136, 25);
  border: none;
  border-radius: 4px;
}

/* Для мобільної: сховати текст */
@media (max-width: 480px) {
  .icon-btn-vhid::after {
    content: '';
  }
}

/* Для планшета: показати текст */
@media (min-width: 481px) {
  .icon-btn-vhid::after {
    content: ' Вхід';
    margin-left: 6px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-icons {
    display: flex;
    gap: 30px;
  }
}
