.header {
  padding: 10px 0px;
}

.header-container {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logo {
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #c9d1d9;
  transition: color 0.2s;
}

.logo:hover {
  color: #1f6feb;
}

.header-icons-deskopt {
  display: flex;
  gap: 4px;
}

.icon-btn {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
}

.search-bar-deskopt {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding: 10px 20px;
    gap: 10px;
  }

  .header-icons {
    display: flex;
    gap: 30px;
  }

  .logo {
    margin: 0px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .logo {
    margin-right: 20px;
  }

  .header-container {
    justify-content: space-between;
    margin-bottom: 300px;
    padding: 20px 50px;
  }

  .search-bar-deskopt {
    display: flex;
    gap: 30px;
  }

  .nav-toggle-btn-deskopt {
    display: none;
  }

  .search-bar-deskopt {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .searchInput-deskopt {
    border-radius: 3px;
    box-shadow: none;
    line-height: 36px;
    min-width: 600px;
    border-radius: 4px;
    color: #c9d1d9 !important;
    background-color: #0d1117;
    border-radius: 6px;
    outline: none;
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    height: 40px; /* Встановлюємо однакову висоту */
    box-sizing: border-box;
  }

  .searchInput-deskopt::placeholder {
    color: #8b949e !important;
  }

  .search-btn-deskopt {
    display: flex;
    padding: 13px 8px;
    border: none;
    border-radius: 3px;
  }

  .theme-toggle-deskopt {
    min-height: 42px;
    padding: 13px 11px;
    border: none;
    border-radius: 3px;
  }

  .icon-btn-reg-deskopt {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

/* Модальне вікно ксс - початок */
.hidden {
  display: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background-color: #161b22; /* темний як твій фон */
  color: #c9d1d9;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  position: relative;
}

.modal-window-h {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-window-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-window-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-window-btn {
  display: flex;
  margin: 0 auto;
  background-color: #238636;
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.modal-window input {
  width: 100%;
  padding: 0.5rem;
  background-color: #0d1117;
  border: 1px solid #30363d;
  color: #c9d1d9;
  border-radius: 6px;
}

.modal-close {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #8b949e;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.modal-close:hover {
  background-color: #238636;
}

.modal-close.light-theme {
  background-color: #1e7f83;
}

.modal-close:focus {
  background-color: #238636;
}

/* Модальне вікно ксс - кінець */
