.header-container {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.icon-btn {
  padding: 10px;
  background-color: rgb(210, 136, 25);
  border: none;
  border-radius: 4px;
}

.search-bar-deskopt {
  display: none;
}

/* Для мобільної: сховати текст */
@media (max-width: 480px) {
  .icon-btn-vhid::after {
    content: '';
  }
}

/* Для планшета: показати текст */
@media (min-width: 481px) {
  .icon-btn-vhid::after {
    content: ' Вхід';
    margin-left: 6px;
  }
}

@media only screen and (min-width: 768px) {
  .header-icons {
    display: flex;
    gap: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-container {
    /* align-items: flex-end; */
    justify-content: space-between;
    margin-bottom: 300px;
  }

  .search-bar-deskopt {
    display: flex;
    gap: 30px;
    /* margin-left: 700px; */
  }

  .nav-toggle-btn-deskopt {
    display: none;
  }

  /* .icon-btn-reg-deskopt {
    margin-left: 50px;
  } */

  .search-bar-deskopt {
    display: flex;
    align-items: center;
  }

  .searchInput-deskopt {
    border-radius: 3px;
    background-color: #5e5757dd;
    box-shadow: none;
    height: 45px;
    line-height: 36px;
    min-width: 800px !important;
    border-radius: 4px;
    color: azure !important;
  }

  .searchInput-deskopt::placeholder {
    color: azure !important;
  }

  .search-btn-deskopt {
    display: flex;
    padding: 13px 8px;
    background-color: rgb(51, 53, 54) !important;
    border: none;
    border-radius: 3px;
    /* min-width: 20% !important; */
  }

  .theme-toggle-deskopt {
    min-height: 42px;
    padding: 13px 11px;
    background-color: rgb(51, 53, 54) !important;
    border: none;
    border-radius: 3px;
    /* min-width: 20% !important; */
  }
}
