.container-movie-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-poster {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-movies-msg {
  margin-top: 0px !important;
  margin: 0 auto;
}

.movie-poster-img {
  border-radius: 6px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-online {
  width: 370px;
  max-width: 100%;
  /* background-color: #709447; */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.text-rating {
  display: flex;
}

.movie-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.load-more {
  /* background-color: #b2ff59; */
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  max-width: 50%;
}

.page-numbers {
  display: flex;
  gap: 3px;
}

.page {
  /* background-color: #444; */
  color: #fff;
  padding: 6px 6px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container-movie-list {
    gap: 50px;
  }

  .movies-list-movie-card {
    display: flex;
    gap: 30px;
  }

  .movie-poster-img {
    width: 100%;
  }

  .btn-online {
    max-width: 100%;
    margin: 0px;
  }

  .movie-meta {
    justify-content: end;
  }
}

/* Desktop (>=1280px) */
/* @media only screen and (min-width: 1280px) {
  .movies-list-movie-card {
    border: 2px solid #171715;
  }
} */
