.opis-kino-ua {
  padding: 20px 0px;
}

.container-opis-kino-ua {
  flex-direction: column;
  text-align: left;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.opis-kino-ua-h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.opis-kino-ua-p {
  font-size: 14px;
}
